<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Line Based Calculator.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>43BCE95D1E2C3063004DFB7D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>43BCE9711E2C3063004DFB7D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>43BCE97C1E2C3063004DFB7D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
